<h1>Отзывы</h1>
<tui-tabs [(activeItemIndex)]="activeItemIndex">
  <button
      tuiTab
      (click)="changeTab('courses')"
  >
    На курсы
  </button>
  <button
      tuiTab
      (click)="changeTab('teacher')"
  >
    На преподавателей
  </button>
</tui-tabs>
<div *ngIf="subjects; else loading">
  <tui-accordion
      *ngIf="activeItemIndex === 0"
      [closeOthers]="false"
      class="container accordion-container"
  >
    <tui-accordion-item
        [disabled]="true"
        [showArrow]="false"
        [disableHover]="true"
    >
      <tui-input
          tuiTextfieldIconLeft="tuiIconSearchLarge"
          [(ngModel)]="searchParameter"
      >
        Поиск
      </tui-input>
    </tui-accordion-item>

    <tui-accordion-item
      *ngFor="let subject of subjects | searchSubjects:searchParameter"
      [tuiHighlight]="searchParameter"
      [tuiHighlightColor]="'var(--tui-primary)'"
    >
      {{subject.name}} ({{subject.semester}} семестр)
      <ng-template tuiAccordionItemContent>
        <tui-accordion>
          <tui-accordion-item
              *ngFor="let choiceSubject of subject.choice_subjects"
              [borders]="null"
              [disabled]="true"
              [disableHover]="true"
              [showArrow]="false"
          >
            <a
                tuiLink
                [routerLink]="['/main', 'course']"
            >
                {{choiceSubject.name}} ({{choiceSubject.typeSubject}},
              {{choiceSubject.teacher.second_name}} {{choiceSubject.teacher.first_name[0]}}.
              {{choiceSubject.teacher.middle_name[0]}}.)
            </a>
            <div class="rating-block">
              <div class="rating">
                Скорость прохождения:
                <tui-rating
                    iconNormal="tuiIconStar"
                    iconFilled="tuiIconStar"
                    [readOnly]="true"
                    [(ngModel)]="choiceSubject.speed_rating"
                ></tui-rating>
              </div>
              <div class="rating">
                Доступность:
                <tui-rating
                    iconNormal="tuiIconStar"
                    iconFilled="tuiIconStar"
                    [readOnly]="true"
                    [(ngModel)]="choiceSubject.understanding_rating"
                ></tui-rating>
              </div>
              <div>
                Общая оценка:
                <tui-rating
                    iconNormal="tuiIconStar"
                    iconFilled="tuiIconStar"
                    [readOnly]="true"
                    [(ngModel)]="choiceSubject.overall_rating"
                ></tui-rating>
              </div>
            </div>
          </tui-accordion-item>
        </tui-accordion>
      </ng-template>
    </tui-accordion-item>
  </tui-accordion>
</div>

<ng-template #loading>
  <tui-loader
      class="inline-flex tui-space_right-2 loading"
      [showLoader]="true"
      [inheritColor]="true"
      size="xl"
  ></tui-loader>
</ng-template>
