<header>
  <div>
    <nav class="topnav">
      <a
        class="tui-text_h5 logo"
        [routerLink]="['/main']"
      >
        Helper <span>RTF</span>
      </a>
      <tui-hosted-dropdown
        *ngIf="auth.isAuthenticated(); else entrance"
        tuiDropdownAlign="left"
        [sided]="true"
        [content]="dropdown"
        [(open)]="openDropdown"
      >
        <tui-avatar
          size="s"
          [rounded]="true"
        >
          <button
            tuiButton
            type="button"
            appearance="flat"
            size="m"
            [pseudoActive]="openDropdown || null"
          ></button>
        </tui-avatar>
      </tui-hosted-dropdown>
      <ng-template
        #dropdown
        let-close="close"
      >
        <tui-data-list>
          <tui-opt-group>
            <button
              tuiOption
              (click)="close()"
            >
              Светлая тема
            </button>
            <button
              tuiOption
              (click)="close()"
            >
              Темная тема
            </button>
          </tui-opt-group>
          <tui-opt-group>
            <button
              tuiOption
              (click)="logout()"
            >
              Выйти
            </button>
          </tui-opt-group>
        </tui-data-list>
      </ng-template>
      <ng-template #entrance>
        <a
          tuiLink
          icon="tuiIconLogInLarge"
          [routerLink]="['/auth']"
        ></a>
      </ng-template>
    </nav>
  </div>
</header>
<nav class="sidenav">
  <tui-accordion class="container" [rounded]="false">
    <tui-accordion-item
        [borders]="null"
        [showArrow]="false"
        [disabled]="true"
        [routerLink]="['/main']"
    >
      Отзывы
    </tui-accordion-item>
    <tui-accordion-item
        [borders]="null"
        [showArrow]="false"
        [disabled]="true"
        [routerLink]="['/main', 'teacher-reviews']"
    >
      Ответы на вопросы
    </tui-accordion-item>
  </tui-accordion>
</nav>
<div class="router-wrapper">
  <div class="wrapper">
    <router-outlet></router-outlet>
  </div>
</div>
