<header>
  <div>
    <nav class="topnav">
      <a
          class="tui-text_h5 logo"
          [routerLink]="['/main']"
      >
        Helper <span>RTF</span>
      </a>
      <tui-avatar
          text="dmitriy demenskiy"
          size="s"
          [rounded]="true"
      ></tui-avatar>
    </nav>
  </div>
</header>
<nav class="sidenav">
  <tui-accordion class="container" [rounded]="false">
    <tui-accordion-item
        [borders]="null"
        [showArrow]="false"
        [disabled]="true"
        [routerLink]="['/main']"
    >
      Отзывы
    </tui-accordion-item>
    <tui-accordion-item
        [borders]="null"
        [showArrow]="false"
        [disabled]="true"
        [routerLink]="['/main', 'teacher-reviews']"
    >
      Ответы на вопросы
    </tui-accordion-item>
  </tui-accordion>
</nav>
<div class="router-wrapper">
  <div class="wrapper">
    <router-outlet></router-outlet>
  </div>
</div>
