<header>
  <div>
    <nav class="topnav">
      <a
          class="tui-text_h5 logo"
          routerLink="/"
      >
        Helper <span>RTF</span>
      </a>
      <tui-avatar
          text="dmitriy demenskiy"
          size="s"
          [rounded]="true"
      ></tui-avatar>
    </nav>
  </div>
</header>
<nav class="sidenav">
  <a
      tuiLink
      routerLink="/main"
  >Отзывы на курсы</a>
  <a
      tuiLink
      routerLink="/main/teacher-reviews"
  >Отзывы на преподавателей</a>
  <a
      tuiLink
      routerLink="/main/teacher-reviews"
  >Ответы на вопросы</a>
</nav>
<div class="router-wrapper">
  <router-outlet></router-outlet>
</div>
